@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-lino-claro: 33 21% 95%; 
    --color-pizarra-profunda: 210 5% 16%; 
    --color-eucalipto: 177 15% 42%; 
    --color-eucalipto-foreground: 33 21% 95%; 
    --color-terracota: 14 47% 58%;
    --color-terracota-foreground: 33 21% 95%; 
    --color-piedra-suave: 33 13% 82%;
    --color-rojo-siena: 2 40% 54%; 

    --background: var(--color-lino-claro);
    --foreground: var(--color-pizarra-profunda);

    --card: var(--color-lino-claro);
    --card-foreground: var(--color-pizarra-profunda);

    --popover: var(--color-lino-claro);
    --popover-foreground: var(--color-pizarra-profunda);

    --primary: var(--color-eucalipto);
    --primary-foreground: var(--color-eucalipto-foreground);

    --secondary: var(--color-terracota);
    --secondary-foreground: var(--color-terracota-foreground);

    --muted: var(--color-piedra-suave);
    --muted-foreground: var(--color-pizarra-profunda);

    --accent: var(--color-eucalipto);
    --accent-foreground: var(--color-eucalipto-foreground);

    --destructive: var(--color-rojo-siena);
    --destructive-foreground: var(--color-lino-claro);

    --border: var(--color-piedra-suave);
    --input: var(--color-piedra-suave);
    --ring: var(--color-eucalipto);

    --radius: 0.5rem;
  }

  .dark {
    --color-lino-claro: 33 21% 95%; 
    --color-pizarra-profunda: 210 5% 16%;
    --color-eucalipto: 177 15% 48%; 
    --color-eucalipto-foreground: 210 5% 16%; 
    --color-terracota: 14 47% 65%; 
    --color-terracota-foreground: 210 5% 16%; 
    --color-piedra-oscura: 210 5% 22%;
    --color-rojo-siena: 2 40% 60%; 

    --background: var(--color-pizarra-profunda);
    --foreground: var(--color-lino-claro);

    --card: var(--color-pizarra-profunda);
    --card-foreground: var(--color-lino-claro);

    --popover: var(--color-pizarra-profunda);
    --popover-foreground: var(--color-lino-claro);

    --primary: var(--color-eucalipto);
    --primary-foreground: var(--color-eucalipto-foreground);

    --secondary: var(--color-terracota);
    --secondary-foreground: var(--color-terracota-foreground);

    --muted: var(--color-piedra-oscura);
    --muted-foreground: var(--color-piedra-suave);

    --accent: var(--color-eucalipto);
    --accent-foreground: var(--color-eucalipto-foreground);

    --destructive: var(--color-rojo-siena);
    --destructive-foreground: var(--color-lino-claro);

    --border: var(--color-piedra-oscura);
    --input: var(--color-piedra-oscura);
    --ring: var(--color-eucalipto);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.mapboxgl-popup-content {
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

.mapboxgl-popup-tip {
  display: none !important;
}
